<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #3E4D7B;">
  <!-- Image and text -->
  <a class="navbar-brand" href="#">
    <img src="/assets/images/logo.PNG" width="40" height="40" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active nav-custom" style="text-align:center;">
        <a class="nav-link" href="#"><i class="fas fa-th-large"></i>
          <p style="margin-bottom:0px;">Dashboard</p>
        </a>
      </li>
      <li class="nav-item nav-custom" style="text-align:center;">
        <a class="nav-link" href="#"><i class="fas fa-user-friends"></i>
          <p style="margin-bottom:0px;">Client</p>
        </a>
      </li>
      <li class="nav-item nav-custom" style="text-align:center;">
        <a class="nav-link" href="#"><i class="fa fa-user"></i>
          <p style="margin-bottom:0px;">User</p>
        </a>
      </li>
      <li class="nav-item nav-custom" style="text-align:center;">
        <a class="nav-link" href="#"><i class="fas fa-city"></i>
          <p style="margin-bottom:0px;">Company</p>
        </a>
      </li>
      <li class="nav-item nav-custom" style="text-align:center;">
        <a class="nav-link" href="#"><i class="fas fa-chart-bar"></i>
          <p style="margin-bottom:0px;">Reports</p>
        </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2 btn-round" style="width:350px;    background: #526491;
      color: white;    border: none;"
        type="search" placeholder="Search" aria-label="Search">
      <a class="btn btn-social btn-round btn-min-width mr-2 btn-quote"><i class="fas fa-plus-circle"></i> New quote</a>
      <i class="fas fa-question-circle fa-2x" style="margin:0 10px;"></i>
      <ul class="navbar-nav mr-auto" style="padding-left:0px;">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <img src="/assets/images/user.png" width="30" height="30" alt="">
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Profile</a>
            <a class="dropdown-item" href="#">Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">LogOut</a>
          </div>
        </li>
      </ul>
    </form>
  </div>
</nav>