<div class="wrapper">
    <app-header></app-header>
    <div class="main-panel">
        <div class="main-content">
            <div class="content-wrapper">
                <div class="container-fluid">
                    <div class="row m-4">
                        <div class="col-md-4" >
                            <div class="card" style="height:179px;">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="card-text"><small class="text-muted" style="color:#727272;">Sales</small></p>
                                            <h3 style="font-weight:400;">92%</h3>
                                            <p class="card-text"><small class="text-muted" style="color:#B3B8BD;">Successfull
                                                    rate</small></p>
                                        </div>
                                        <div class="col-md-6">
                                            <img src="/assets/images/piechart.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="card-text"><small class="text-muted" style="color:#727272;">Referrals</small></p>
                                            <h3 style="font-weight:400;">643</h3>
                                            <img src="/assets/images/line.png">
                                            <p class="card-text"><small class="text-muted" style="color:#B3B8BD;">insertions
                                                    needed to complete
                                                </small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <p class="card-text"><small class="text-muted" style="color:#727272;">Quotes</small></p>
                                            <h3 style="font-weight:400;">3900</h3>
                                            <img src="/assets/images/bar.png" style="height: 56px;width: 250px;">
                                        </div>
                                        <div class="col-md-5">
                                                <img src="/assets/images/piechart.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>