<div class="wrapper">
    <app-header></app-header>
    <div class="main-panel">
        <div class="main-content">
            <div class="content-wrapper">
                <div class="container-fluid">
                    <div class="row m-4">
                        <div class="col-md-4">
                            <div class="card" style="height:179px;">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="card-text"><small class="text-muted" style="color:#727272;">Sales</small></p>
                                            <h3 style="font-weight:400;">92%</h3>
                                            <p class="card-text"><small class="text-muted" style="color:#B3B8BD;">Successfull
                                                    rate</small></p>
                                        </div>
                                        <div class="col-md-6">
                                            <img src="/assets/images/piechart.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="card-text"><small class="text-muted" style="color:#727272;">Referrals</small></p>
                                            <h3 style="font-weight:400;">643</h3>
                                            <img src="/assets/images/line.png">
                                            <p class="card-text"><small class="text-muted" style="color:#B3B8BD;">insertions
                                                    needed to complete
                                                </small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <p class="card-text"><small class="text-muted" style="color:#727272;">Quotes</small></p>
                                            <h3 style="font-weight:400;">3900</h3>
                                            <img src="/assets/images/bar.png" style="height: 56px;width: 250px;">
                                        </div>
                                        <div class="col-md-5">
                                            <img src="/assets/images/piechart.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row m-4">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <h5 class="card-title">Risk Management </h5>
                                        </div>
                                        <div class="col-md-1 p-0">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 0px!important;
                                                font-size: 12px;">
                                                <i class="far fa-calendar-alt" style="color:#4A90E2;    font-weight: 600;"></i>
                                                Opened Date
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 0px!important;
                                                font-size: 12px;">
                                                <i class="far fa-calendar-alt" style="color:#4A90E2;    font-weight: 600;"></i>
                                                Inception Date
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                        <div class="col-md-7 p-0" style="text-align: right;">
                                            <button class="btn  passive-filter" type="button ">All</button>
                                            <button class="btn  passive-filter" type="button">Draft</button>
                                            <button class="btn btn-filter passive-filter" type="button">Quote</button>
                                            <button class="btn btn-filter passive-filter" type="button">Quote issued</button>
                                            <button class="btn btn-filter passive-filter" type="button">Policy</button>
                                            <button class="btn btn-filter" type="button">Referral Authorised</button>
                                            <button class="btn btn-filter" type="button">Referral Declined</button>
                                            <button class="btn btn-filter passive-filter" type="button">Referred</button>
                                            <button class="btn btn-filter passive-filter" type="button">Referral
                                                Required</button>
                                            <a href="#"> <i class="fas fa-undo-alt"></i></a>

                                        </div>
                                    </div>
                                    <table class="table m-0" style="font-size:14px;">
                                        <tr>
                                            <th>Reference</th>
                                            <th>Status</th>
                                            <th>Client</th>
                                            <th>Opened</th>
                                            <th>Notes</th>
                                            <th>Tasks</th>
                                            <th>Actions</th>
                                        </tr>
                                        <tr>
                                            <td>3YV1FZM5</td>
                                            <td>Draft</td>
                                            <td>Lorem ipsum dolor</td>
                                            <td>13-06-2018</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>
                                                <a href="#" style="margin-right:10px;">Edit</a>
                                                <a href="#">Reject</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3YV1FZM5</td>
                                            <td>Draft</td>
                                            <td>Lorem ipsum dolor</td>
                                            <td>13-06-2018</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>
                                                <a href="#" style="margin-right:10px;">Edit</a>
                                                <a href="#">Reject</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3YV1FZM5</td>
                                            <td>Draft</td>
                                            <td>Lorem ipsum dolor</td>
                                            <td>13-06-2018</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>
                                                <a href="#" style="margin-right:10px;">Edit</a>
                                                <a href="#">Reject</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3YV1FZM5</td>
                                            <td>Draft</td>
                                            <td>Lorem ipsum dolor</td>
                                            <td>13-06-2018</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>
                                                <a href="#" style="margin-right:10px;">Edit</a>
                                                <a href="#">Reject</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3YV1FZM5</td>
                                            <td>Draft</td>
                                            <td>Lorem ipsum dolor</td>
                                            <td>13-06-2018</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>
                                                <a href="#" style="margin-right:10px;">Edit</a>
                                                <a href="#">Reject</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3YV1FZM5</td>
                                            <td>Draft</td>
                                            <td>Lorem ipsum dolor</td>
                                            <td>13-06-2018</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>
                                                <a href="#" style="margin-right:10px;">Edit</a>
                                                <a href="#">Reject</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3YV1FZM5</td>
                                            <td>Draft</td>
                                            <td>Lorem ipsum dolor</td>
                                            <td>13-06-2018</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>
                                                <a href="#" style="margin-right:10px;">Edit</a>
                                                <a href="#">Reject</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3YV1FZM5</td>
                                            <td>Draft</td>
                                            <td>Lorem ipsum dolor</td>
                                            <td>13-06-2018</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>
                                                <a href="#" style="margin-right:10px;">Edit</a>
                                                <a href="#">Reject</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3YV1FZM5</td>
                                            <td>Draft</td>
                                            <td>Lorem ipsum dolor</td>
                                            <td>13-06-2018</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>
                                                <a href="#" style="margin-right:10px;">Edit</a>
                                                <a href="#">Reject</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3YV1FZM5</td>
                                            <td>Draft</td>
                                            <td>Lorem ipsum dolor</td>
                                            <td>13-06-2018</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>
                                                <a href="#" style="margin-right:10px;">Edit</a>
                                                <a href="#">Reject</a>
                                            </td>
                                        </tr>
                                        <tfoot>
                                            <tr>
                                                <td colspan="7">
                                                    <nav aria-label="Page navigation example">
                                                        <ul class="pagination justify-content-center m-0">
                                                            <li class="page-item">
                                                                <a class="page-link" href="#" aria-label="Previous">
                                                                    <i class="fa fa-angle-left"></i>
                                                                    <span class="sr-only">Previous</span>
                                                                </a>
                                                            </li>
                                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                                                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                                                            <li class="page-item">
                                                                <a class="page-link" href="#" aria-label="Next">
                                                                    <i class="fa fa-angle-right"></i>
                                                                    <span class="sr-only">Next</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </nav>
                                                </td>
                                            </tr>

                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row m-4">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Tasks</h5>
                                    <table class="table m-0" style="font-size:14px;">
                                        <tr>
                                            <th>Task ID</th>
                                            <th>Title</th>
                                            <th>Info</th>
                                            <th>Due Date</th>
                                            <th>Assigne</th>
                                            <th>Actions</th>
                                        </tr>
                                        <tr>
                                            <td>3YV1FZM5</td>
                                            <td>3YV1FZM5</td>
                                            <td>Lorem ipsum dolor</td>
                                            <td>13-06-2018</td>
                                            <td>Lorem ipsum dolor</td>
                                            <td>
                                                <a href="#" style="margin-right:10px;">Update</a>
                                                <a href="#" style="margin-right:10px;">Reassign</a>
                                                <a href="#">Close</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3YV1FZM5</td>
                                            <td>3YV1FZM5</td>
                                            <td>Lorem ipsum dolor</td>
                                            <td>13-06-2018</td>
                                            <td>Lorem ipsum dolor</td>
                                            <td>
                                                <a href="#" style="margin-right:10px;">Update</a>
                                                <a href="#" style="margin-right:10px;">Reassign</a>
                                                <a href="#">Close</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3YV1FZM5</td>
                                            <td>3YV1FZM5</td>
                                            <td>Lorem ipsum dolor</td>
                                            <td>13-06-2018</td>
                                            <td>Lorem ipsum dolor</td>
                                            <td>
                                                <a href="#" style="margin-right:10px;">Update</a>
                                                <a href="#" style="margin-right:10px;">Reassign</a>
                                                <a href="#">Close</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3YV1FZM5</td>
                                            <td>3YV1FZM5</td>
                                            <td>Lorem ipsum dolor</td>
                                            <td>13-06-2018</td>
                                            <td>Lorem ipsum dolor</td>
                                            <td>
                                                <a href="#" style="margin-right:10px;">Update</a>
                                                <a href="#" style="margin-right:10px;">Reassign</a>
                                                <a href="#">Close</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3YV1FZM5</td>
                                            <td>3YV1FZM5</td>
                                            <td>Lorem ipsum dolor</td>
                                            <td>13-06-2018</td>
                                            <td>Lorem ipsum dolor</td>
                                            <td>
                                                <a href="#" style="margin-right:10px;">Update</a>
                                                <a href="#" style="margin-right:10px;">Reassign</a>
                                                <a href="#">Close</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3YV1FZM5</td>
                                            <td>3YV1FZM5</td>
                                            <td>Lorem ipsum dolor</td>
                                            <td>13-06-2018</td>
                                            <td>Lorem ipsum dolor</td>
                                            <td>
                                                <a href="#" style="margin-right:10px;">Update</a>
                                                <a href="#" style="margin-right:10px;">Reassign</a>
                                                <a href="#">Close</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3YV1FZM5</td>
                                            <td>3YV1FZM5</td>
                                            <td>Lorem ipsum dolor</td>
                                            <td>13-06-2018</td>
                                            <td>Lorem ipsum dolor</td>
                                            <td>
                                                <a href="#" style="margin-right:10px;">Update</a>
                                                <a href="#" style="margin-right:10px;">Reassign</a>
                                                <a href="#">Close</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3YV1FZM5</td>
                                            <td>3YV1FZM5</td>
                                            <td>Lorem ipsum dolor</td>
                                            <td>13-06-2018</td>
                                            <td>Lorem ipsum dolor</td>
                                            <td>
                                                <a href="#" style="margin-right:10px;">Update</a>
                                                <a href="#" style="margin-right:10px;">Reassign</a>
                                                <a href="#">Close</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3YV1FZM5</td>
                                            <td>3YV1FZM5</td>
                                            <td>Lorem ipsum dolor</td>
                                            <td>13-06-2018</td>
                                            <td>Lorem ipsum dolor</td>
                                            <td>
                                                <a href="#" style="margin-right:10px;">Update</a>
                                                <a href="#" style="margin-right:10px;">Reassign</a>
                                                <a href="#">Close</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3YV1FZM5</td>
                                            <td>3YV1FZM5</td>
                                            <td>Lorem ipsum dolor</td>
                                            <td>13-06-2018</td>
                                            <td>Lorem ipsum dolor</td>
                                            <td>
                                                <a href="#" style="margin-right:10px;">Update</a>
                                                <a href="#" style="margin-right:10px;">Reassign</a>
                                                <a href="#">Close</a>
                                            </td>
                                        </tr>
                                        <tfoot>
                                            <tr>
                                                <td colspan="6">
                                                    <nav aria-label="Page navigation example">
                                                        <ul class="pagination justify-content-center m-0">
                                                            <li class="page-item">
                                                                <a class="page-link" href="#" aria-label="Previous">
                                                                    <i class="fa fa-angle-left"></i>
                                                                    <span class="sr-only">Previous</span>
                                                                </a>
                                                            </li>
                                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                                                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                                                            <li class="page-item">
                                                                <a class="page-link" href="#" aria-label="Next">
                                                                    <i class="fa fa-angle-right"></i>
                                                                    <span class="sr-only">Next</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </nav>
                                                </td>
                                            </tr>

                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>