:host /deep/ .table th {
    border-top: none;
}

:host /deep/ .page-link {
    border-radius: 20px;
    border: none;
}

:host /deep/ .page-item:first-child .page-link {
    border-top-left-radius: 20px!important;
    border-bottom-left-radius: 20px!important;
}

:host /deep/ .page-item:last-child .page-link {
    border-top-right-radius: 20px!important;
    border-bottom-right-radius: 20px!important;
}

.btn-filter{
    border-radius: 20px;
    background: white;
    border: 1px solid #4A90E2;
    font-size: 10px;
}

.passive-filter{
    border-radius: 20px;
    background: white;
    font-size: 10px;
    color: #D8DDE3;
    border: 1px solid #D8DDE3;
}

:host /deep/ .fa, .fab, .fal, .far, .fas {
    color: #D8DDE3;
}


/* :host /deep/ .nav-link {
    padding: 0px!important;
    font-size: 12px;
} */